{% extends "base.html" %}
{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Superintendencia de Administración Tributaria</h1>
            <p class="lead text-muted">El proyecto de la creación y puesta en operación de la SAT, se inició en septiembre de 1997 con la integración de un equipo de trabajo responsable de administrarlo.  El objetivo general del proyecto consistió en crear, diseñar y poner en funcionamiento una institución autónoma y descentralizada, moderna, eficiente y eficaz, que se hiciera cargo de la administración tributaria y aduanera, que fuera capaz de incrementar los ingresos tributarios en forma sostenida, honesta y transparente. Aunque actualmente su sistema no es lo suficientemente honesto y los tributos o impuestos son demasiados y los sueldos muy bajos.</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Sign in</a>
                <a href="#" class="btn btn-secondary my-2">Sign up</a>
            </p>
        </div>
    </div>
</section>
{% endblock %}