{% extends "base.html" %}
{% block content %}
<div class="container py-2">
    <h1 style="text-align: center;"> Informacion del estudiante </h1>
</div>

<div class="container py-2">
    <h3 style="text-align: center;">Universidad de San Carlos de Guatemala</h3>
</div>

<div class="container py-2">
    <h4 style="text-align: center;">Héctor Josué Ponsoy Ayala</h4>
</div>

<div class="container py-2">
    <h5 style="text-align: center;">Introduccion a la programacion 2</h5>
</div>

	<div class="card text-center">
		<div class="card-header">
		</div>
		<div class="card-body">
			<h5 class="card-title text-light bg-dark">Acerca de mi</h5>
			<p class="card-text text-dark">Soy un estudiante de Ingenieria en ciencias y sistemas, cursando el cuarto semestre.
				Soy un interesado y apasionado del desarrollo web con experiencia utilizando lenguajes y herramientas
				como HTML, CSS, Java, y demas. Actualmente, profundizando en Python. A nivel personal, completamente
				abierto a seguir creciendo y compartir lo que sé.</p>
		</div>
		<div class="card-footer text-muted">
		</div>
	</div>

{% endblock content %}